<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PIMS - Apply Doctor</title>
  <link rel="icon" type="image/x-icon" href={% static "images/favicon.ico"%}>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style type="text/css">
    body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
    }


    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      display: flex;
      align-content:center ;
      flex-direction: column;
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
      margin: 4px 0 0 0;
      font-size: 12.8px;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      min-width: 200px;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }

    /* Media query for larger devices */
    @media (min-width: 768px) {
      body {
        font-size: 1.1rem; /* Adjust font size for larger devices */
      }
    }

    /* Media query for smaller devices */
    @media (max-width: 767px) {
      body {
        font-size: 0.9rem; /* Adjust font size for smaller devices */
      }
      .btnSubmit {
        width: 50%;
        padding: 1%;
      }

      .form-control {
        width: 50%;
        border-radius: 1.5rem;
    }
      
      #preview{
        flex-basis: content;
        aspect-ratio: 1/1;
        margin-bottom: 1.2rem;
      }
    }

  </style>

</head>


<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>
  <br>
  <br>

  <form class="need-validation" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Apply Doctor To Clinic</p>
            </div>
            <div class="form-content">
              <!-- Add this code where you want to display alerts -->
              <div class="alert-container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
              </div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <div class="form-floating">
                          {% render_field form.first_name class="form-control" placeholder="First Name" %}
                          <label for="floatingFirstName">First Name</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                              Provide your First Name
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                          <label for="floatingLastName">Last Name</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                              Provide your Last Name
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field form.username class="form-control" placeholder="Username" %}
                          <label for="floatingUsername">Username</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                              Provide a Username
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field form.email class="form-control" placeholder="Email" %}
                          <label for="floatingEmail">Email</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                              Provide a valid Email
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field form.password1 class="form-control" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,16}$" placeholder="Password" %}
                          <label for="floatingPassword1">Password</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Password must contain at least one digit, one lowercase letter, one uppercase letter, one special character, and be 8-16 characters long.
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field form.password2 class="form-control" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,16}$" placeholder="Repeat Password" %}
                          <label for="floatingPassword2">Repeat Password</label>
                          <div class="valid-feedback">
                            Looks Good!
                          </div>
                          <div class="invalid-feedback">
                              Repeat your Password
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field profile_form.address class="form-control" placeholder="Address" %}
                          <label for="floatingAddress">Address</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                              Provide your Address
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 p-1">
                        <center>
                          <label for="{{ profile_form.profile_pic.id_for_label }}">Profile Picture</label>
                          <img class="mb-1" id="preview" src="{% static 'images/profile.webp' %}" alt="Preview" style="max-width: 100%; max-height: 150px; display: block;">
                        </center>
                        <div class="form-group">
                          {% render_field profile_form.profile_pic class="form-control" onchange="previewImage(this)" %}
                          <div class="valid-feedback">
                            Looks nice!
                          </div>
                          <div class="invalid-feedback">
                              Provide your Profile Picture
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field profile_form.department class="form-control" placeholder="Department" %}
                          <label for="{{ profile_form.department.id_for_label }}">Department</label>
                          <div class="valid-feedback">
                            Looks great!
                          </div>
                          <div class="invalid-feedback">
                              Provide your Department(Specialty)
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field profile_form.license_num class="form-control" placeholder="1234567"%}
                          <label for="{{ profile_form.license_num.id_for_label }}">License Number:</label>
                          <div class="valid-feedback">
                            Looks great!
                          </div>
                          <div class="invalid-feedback">
                              Provide your PRC License Number.
                          </div>
                        </div>
                        <div class="form-floating">
                          {% render_field profile_form.mobile class="form-control" placeholder="Contact" pattern="(^(\+)(\d){12}$)|(^\d{11}$)" %}
                          <label for="floatingMobile">Contact</label>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                              Provide a valid Contact Number (e,g: 09172464146 or +639172464146)
                          </div>
                        </div>
                    </div>
                </div>
                    <center><button type="submit" class="btnSubmit">Apply</button></center> 
                    <div class="text-center">Already have an account? <a href="/doctorlogin">Login here</a></div>
                </div>
               
            </div>
        </div>
    </div>
</form>

<script>
    function previewImage(input) {
        var preview = document.getElementById('preview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = 'block';
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "{% static 'images/profile.webp' %}";
        }
    }
</script>

  
</body>


</html>
