<!DOCTYPE html>
{%load static%}
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PIMS - Patient Sign Up</title>
  <link rel="icon" type="image/x-icon" href={% static "images/favicon.ico"%}>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style type="text/css">
    body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
      
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }

    #preview{
      margin-bottom: 1rem;
    }

    /* Media query for larger devices */
    @media (min-width: 768px) {
      body {
        font-size: 1.1rem; /* Adjust font size for larger devices */
      }
    }

    /* Media query for smaller devices */
    @media (max-width: 767px) {
      body {
        font-size: 0.9rem; /* Adjust font size for smaller devices */
      }
      .btnSubmit {
        width: 50%;
        padding: 1%;
      }

      .form-control {
        width: 50%;
        border-radius: 1.5rem;
    }
      
      #preview{
        flex-basis: content;
        aspect-ratio: 1/1;
        margin-bottom: 1.2rem;
      }
    }

  </style>

</head>


<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>
  <br>
  <br>

  <form class="need-validation" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Register to Hospital</p>
            </div>
            
            <div class="form-content">
                <!-- Alert Messages -->
                {% if messages %}
                <div class="alert alert-dismissible {% if messages.tags %}alert-{{ messages.tags }}{% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <center>
                    <img id="preview" src="{% static 'images/profile.webp' %}" alt="Preview" style="max-width: 100%; max-height: 9.5em;">
                </center>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating">
                            {% render_field patientForm.assigned_doctor_id class="form-control" placeholder="Doctor" %}
                            <label for="floatingDoctor">Choose Doctor:</label>
                            <div class="invalid-feedback">
                                Please choose your doctor.
                            </div>
                            <div class="valid-feedback">
                                Good, All Set!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field patientForm.symptoms class="form-control" placeholder="Symptoms" %}
                            <label for="floatingSymptoms">Symptoms:</label>
                            <div class="invalid-feedback">
                              Please provide current symptoms or any conditions.
                            </div>
                            <div class="valid-feedback">
                                I got you!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
                            <label for="floatingFirstName">First Name:</label>
                            <div class="invalid-feedback">
                                Please provide your first name.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
                            <label for="floatingLastName">Last Name:</label>
                            <div class="invalid-feedback">
                                Please provide your last name.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field patientForm.gender class="form-control" %}
                            <label for="floatingGender">Gender:</label>
                            <div class="invalid-feedback">
                                Provide a valid gender
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field patientForm.date_of_birth class="form-control" %}
                            <label for="floatingDateOfBirth">Date of Birth:</label>
                            <div class="invalid-feedback">
                                Please provide your date of birth.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {% render_field patientForm.profile_pic class="form-control mb-1" onchange="previewImage(this)" %}
                            <div class="invalid-feedback">
                                Please upload your profile picture.
                            </div>
                            <div class="valid-feedback">
                                Looks nice!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field userForm.username class="form-control" placeholder="Username" %}
                            <label for="floatingUsername">Username:</label>
                            <div class="invalid-feedback">
                                Please provide a username.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field userForm.password class="form-control" placeholder="Password" %}
                            <label for="floatingPassword">Password:</label>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field patientForm.address class="form-control" placeholder="Address" %}
                            <label for="floatingAddress">Address:</label>
                            <div class="invalid-feedback">
                                Please provide your address.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field patientForm.mobile class="form-control" placeholder="Contact Number" pattern="(^(\+)(\d){12}$)|(^\d{11}$)" %}
                            <label for="floatingContactNumber">Contact Number:</label>
                            <div class="invalid-feedback">
                                Please provide a valid contact number(e.g: 09172464146 or +639172464146).
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="form-floating">
                            {% render_field userForm.email class="form-control" placeholder="Email" %}
                            <label for="floatingEmail">Email:</label>
                            <div class="invalid-feedback">
                                Please provide a valid email address (e.g: johndoe@domain.com).
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                </div>
                <center><button type="submit" class="btnSubmit">Register</button></center>
                <div class="text-center">Already have an account? <a href="patientlogin">Login here</a></div>
            </div>
        </div>
    </div>
</form>


  
</body>
<script>
  function previewImage(input) {
      var preview = document.getElementById('preview');
      var file = input.files[0];
      var reader = new FileReader();

      reader.onloadend = function () {
          preview.src = reader.result;
      };

      if (file) {
          reader.readAsDataURL(file);
      } else {
          preview.src = "{% static 'images/profile.webp' %}";
      }
  }

  
</script>

</html>
